{% extends 'base.html' %}
{% load static %}
{% block content %}
    <h1 style="margin-top:200px;" >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda deleniti distinctio ducimus illo in incidunt, magni omnis, pariatur porro quam quasi quidem? At atque, consequatur dolor eos, id illo libero perspiciatis quia quibusdam repellendus sunt voluptatem voluptates voluptatibus! Alias corporis deserunt labore laborum minima molestiae nemo perferendis similique vel, voluptas?</h1>
{% endblock %}